<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title style="color:rgb(179, 16, 116)">Kekiate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" lang="en" content="">
       
     
    </head>
    <body>
    <!-- banner -->
    <div class="row row--banner">
            <section class="row container-medium banner-content">
            <h1 class="banner-content__heading" style="color:rgb(145, 54, 69)">
                 Come to our store to find your moodbooster
            </h1>
       
            
        </section>
    </div>
    <!-- features -->
    <div class="row row--white row--padding-wide features">
        <div class="row container-medium">
            <div class="row features__row">
                <div class="col-narrow--right features__bike">
                </div>
                <div class="col-wide">
                    <h2 class="features__heading" style="color:rgb(145, 54, 69)">
                        Want some sweet food?
                    </h2>
       
           
           <img class="img img-responsive" src="https://images.tokopedia.net/img/cache/200-square/product-1/2019/2/7/21257035/21257035_6a5f615b-d998-445a-af8b-25efd187954c_500_500.jpg"><br>
                <p style="color:black">When you’re feeling down, it can be tempting to turn to food to lift your spirits. However, the sugary, high calorie treats that many people resort to have negative consequences of their own.

                    Thus, you may wonder whether any healthy foods can improve your mood.
                    
                    Recently, research on the relationship between nutrition and mental health has been emerging. Yet, it’s important to note that mood can be influenced by many factors, such as stress, environment, poor sleep, genetics, mood disorders, and nutritional deficiencies. for the example Red Velvet</p><br>
            
                </div>
            </div>
            <div class="row features__row">
                <div class="col-narrow features__phone">
                </div>
                <div class="col-wide--right features__padding">
                    <h2 class="features__heading" style="color:rgb(145, 54, 69)">
                        Chocolate for your day
                    </h2>
                    <img class="img img-responsive" src="https://images.tokopedia.net/img/cache/200-square/VqbcmM/2021/2/16/629eab8c-6ba7-4361-91bc-6e25199b38a5.jpg"><br>
            <p style="color:black">
                Dark chocolate and cacao contain an amino acid called tryptophan that your brain uses to produce the neurotransmitter Serotonin, which can increase feelings of overall happiness. Serotonin is the feel-good chemical and influences your mood. You can buy our choco lava if you want to increase your moodbooster
            </p><br>
            
                </div>
            </div>
            <div class="row features__row">
                <div class="col-narrow--right features__safe">
                </div>
                <div class="col-wide">
                    <h2 class="features__heading" style="color:rgb(145, 54, 69)">
                        Cheese for mood
                    </h2>
                    <img class="img img-responsive" src="https://images.tokopedia.net/img/cache/200-square/VqbcmM/2021/4/21/6d35a702-7fba-4580-a855-2801860e3c1c.jpg"><br>
            <p class="features" style="color:black">Cheese contains tryptophan, which is proven to improve your mood. Some studies have even shown that tryptophan can help to manage depression, stress, and anxiety – and that it could be as effective as light therapy. You can come to our store if you need cheesecakes to made your day .</p>
            <br>
            
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <div class="row row--dark-grey row--padding-narrow">
        <footer class="row container-wide">
            <div class="col-wide">
            </div>
                </footer>
    </div>
    </body>
    </html>